<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="lpuKey" value=""/>
    <add key="psiLogin" value="PKopeti"/>
    <add key="psiPassword" value="jdJzRAint"/>
    <add key="psiUserClass" value="Suser"/>
    <add key="psiView" value="psidisplay"/>
  </appSettings>
</configuration>