<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="lpuKey" value=""/>
    <add key="psiLogin" value="PKopeti"/>
    <add key="psiPassword" value="jdJzRAint"/>
    <add key="psiUserClass" value="Suser"/>
    <add key="psiView" value="psidisplay"/>
    <add key="eitpConfigFile" value="c:\woek\eitp\config.xlsx"/>
    <add key="eitpRTsql" value="select corr_time pb,p,q,t from vtr_cur_equip_status where ch_orig_id={0} and cur_time>DATEADD(MINUTE,-5,GETDATE()) order by cur_time desc"/>
    <add key="eitpHOURsql" value="select corr_time,pb,p,t from vtr_arc_exps_h where ch_orig_id={0} and cur_time>DATEADD(HOUR,-2,GETDATE()) order by cur_time desc"/>
    <add key="eitpDAYsql" value="select corr_time,pb,p,t from vrt_arc_exps_d where ch_orig_id={0} and cur_time>DATEADD(DAY,-1,GETDATE()) order by cur_time desc"/>
  </appSettings>
</configuration>