<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceSettings" type="Sofia.Hosting.Configuration.ServicesConfigurationSection, Sofia.Hosting"/>
  </configSections>
  <appSettings>
    <add key="oracle" value="user id=ASUTPNS;Password=1810fcengyc_05;data source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.9.14.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=ORASUN1)));"/>
  </appSettings>
  <serviceSettings>
    <services>
      <add name="ImportAxaptaController"  serviceType="Sofia.Maintenance.ImportAxaptaController, Sofia.Maintenance" uri="net.tcp://127.0.0.1:812/IImportAxapta" Contract="Sofia.Contracts.IImportAxapta, Sofia.Contracts"></add>
    </services>
  </serviceSettings>
  <system.serviceModel>
    <services>
      <service name="Sofia.Maintenance">
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:812/IImportAxapta" binding="netTcpBinding" bindingConfiguration="netTcp" contract="Sofia.Contracts.IImportAxapta, Sofia.Contracts">
          <!-- 
          Upon deployment, the following identity element should be removed or replaced to reflect the 
          identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
          automatically.
      -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:812/IImportAxapta" />
          </baseAddresses>
        </host>

      </service>
    </services>
    <bindings>
      <!--  Following is the expanded configuration section for a NetTcpBinding.
            Each property is configured with the default values.
            See the Message Security, and Transport Security samples in the WS binding samples
            to learn how to configure these features.  -->
      <netTcpBinding>
        <binding name="netTcp"
          closeTimeout="00:01:00"
          openTimeout="00:01:00"
          receiveTimeout="00:10:00"
          sendTimeout="00:01:00"
          transactionFlow="false"
          transferMode="Buffered"
          transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard"
          listenBacklog="10"
          maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647"
          maxConnections="10"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="81920" maxArrayLength="163840" maxBytesPerRead="40960" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="50" maxReceivedMessageSize="65536">
          <security mode="None">
            <transport protectionLevel="None"/>
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <clear/>
    <add name="Factelligence"
         connectionString="Data Source=MARS\SQLEXPRESS;Initial Catalog=SETTING;Persist Security Info=True;User ID=sa;Password=logger;MultipleActiveResultSets=True;User Instance=False;Context Connection=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>